.admin__addPost {
  position: fixed;
  right: 120px;
  top: 60px;
}
.admin__btns {
  display: flex;
  margin-bottom: 10px;
}

.admin__btn {
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  border: 1px solid var(--card-text-color);
  color: #F8F9E4;
  padding: 15px 10px;
  background-color: var(--card-text-color);
  transition: all 0.3s;
}

.admin__btn:hover {
  border: 1px solid var(--card-text-color);
  color: var(--card-text-color);
  background-color: rgba(0, 0, 0, 0);
}

.top-bar__serch {
  display: none;
}