.events {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1700px;
  overflow-x: scroll;
}

.events__event {
  /* width: 350px; */
  min-width: 350px;
  max-width: 350px;
  margin-right: 24px;
}