* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", serif;
  font-size: 16px;
  scroll-behavior: smooth;

  width: 100%;
  height: 100%;
}

body {
  --back-color: #E8EBBB;
  --text-color: #B17E4B;

  --header-back-color: rgba(178, 171, 46, 1);
  --header-text-color: #E8EBBB;

  --categories-title-color: #B17E4B;
  --card-back-color: #DBE7C6;
  --card-text-color: #2C2C2C;
  --scroll-bar-color: #2C2C2C;

  --height-card: 210px;

  margin: 0;
  background-color: var(--back-color);
}

.conteiner {
  padding-inline: 120px;
}

.form--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F8F9E4;
}

::-webkit-scrollbar {
  width: 0;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: rgba(178, 171, 46, 0);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-color);
  border-radius: 5px;
}
