.top-bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  
  display: flex;
  justify-content: space-between;
  padding: 34px 120px;

  background-color: rgba(0, 0, 0, 0.0);

  transition: 0.3s;
  color: #fff;
}

.top-bar__left {
  display: flex;
  align-items: center;
}

.top-bar__right {
  display: flex;
  align-items: center;
}

.top-bar__select {
  font-size: 16px;

  border: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.0);
  margin-right: 30px;
}

.top-bar__select:active {
  border: none;
}

.top-bar__select:focus {
  outline: none;
  border: none;
}

.top-bar__option {
  color: #B17E4B;
  background-color: #E8EBBB;
}

.top-bar__link {
  display: flex;
  margin-right: 50px;

  text-decoration: none;
}

.top-bar__link:last-child {
  margin: 0;
}

.top-bar__logo {
  width: 157px;

  transition: 0.3s;
}

.top-bar__logo:hover {
  width: 157px;

  transform: scale(1.2);
}

.top-bar__city {
  margin: 0;
  margin-right: 50px;
}