{% extends "frontend/base.html" %}

{% block styles %}
  <link rel="stylesheet" href="">
{% endblock %}

{% block title %} Home {% endblock %}

{% block content %}
  {% include "./partials/top-bar.html" %}

  {% include "./partials/menu.html" %}

  <div class="conteiner">
    <div class="main_content">

      <section class="catalogs" id="top-events">
        <h2 class="catalogs__title">Мої події</h2>

        <div class="events">

          <article class="events__event">
            <div class="card">
              <a href="#" class="card__img"></a>

              <div class="card__all-text">
                <p class="card__date">23 листопада 18:00, чт.</p>
                
                <div class="car__space">
                  <h3 class="card__title"><a href="#">Листопад у традиційній культурі українців</a></h3>
                  
                  <p class="card__adress">Харків, вул. Пушкінська, 47</p>
                </div>
              </div>
            </div>
          </article>

          <article class="events__event">
            <div class="card">
              <a href="#" class="card__img"></a>

              <div class="card__all-text">
                <p class="card__date">23 листопада 18:00, чт.</p>
                
                <div class="car__space">
                  <h3 class="card__title"><a href="#">Листопад у традиційній культурі українців</a></h3>
                  
                  <p class="card__adress">Харків, вул. Пушкінська, 47</p>
                </div>
              </div>
            </div>
          </article>

          <article class="events__event">
            <div class="card">
              <a href="#" class="card__img"></a>

              <div class="card__all-text">
                <p class="card__date">23 листопада 18:00, чт.</p>
                
                <div class="car__space">
                  <h3 class="card__title"><a href="#">Листопад у традиційній культурі українців</a></h3>
                  
                  <p class="card__adress">Харків, вул. Пушкінська, 47</p>
                </div>
              </div>
            </div>
          </article>
          
          <article class="events__event">
            <div class="card">
              <a href="#" class="card__img"></a>

              <div class="card__all-text">
                <p class="card__date">23 листопада 18:00, чт.</p>
                
                <div class="car__space">
                  <h3 class="card__title"><a href="#">Листопад у традиційній культурі українців</a></h3>
                  
                  <p class="card__adress">Харків, вул. Пушкінська, 47</p>
                </div>
              </div>
            </div>
          </article>

          <article class="events__event">
            <div class="card">
              <a href="#" class="card__img"></a>

              <div class="card__all-text">
                <p class="card__date">23 листопада 18:00, чт.</p>
                
                <div class="car__space">
                  <h3 class="card__title"><a href="#">Листопад у традиційній культурі українців</a></h3>
                  
                  <p class="card__adress">Харків, вул. Пушкінська, 47</p>
                </div>
              </div>
            </div>
          </article>

        </div>
      </section>

    </div>
  </div>

{% endblock %}