.box {
  width: 800px;
}

.form__content {
  display: flex;
  width: 100%;
}

.form__left {
  width: 100%;
  margin-right: 60px;
}

.form__right {
  width: 100%;
}

.form__textarea {
  resize: none;
  width: 100%;
  height: 112px;

  padding: 5px;
  background-color: #F8F9E4;
  border: 1px solid #B2AB2E;
}

.form__textarea:focus {
  outline: none;
}

.form__checkbox {
  display: inline;
}

.form__btn {
  width: 100%;
}