.box {
  position: relative;

  width: 350px;
  height: auto;
  padding: 10px;

  color: #B2AB2E;
  box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
}

.box__cross-link {
  position: absolute;
  right: 10px;
  top: 10px;
}

.box__cross-img {
  width: 32px;
}

.box__bottom-lable {
  font-size: 10px;
  position: absolute;
  bottom: -20px;
  text-transform: uppercase;
}

.box__bottom-link {
  color: #B2AB2E;
  text-decoration: none;
}

.box__bottom-link:hover {
  color: #000;
  text-decoration: underline;
}
