<header class="header">
  <div class="header__back-img">
    <div class="conteiner">
      <div class="header__content">
        <div class="header__top">
          <div class="top-bar">
            <div class="top-bar__left">
              <a href="#menu" class="icon icon--menu">
              </a>

              <a href="#" class="top-bar__link">
                <img class="top-bar__img top-bar__logo" src="./assets/images/logo-2x.png" alt="logo"/>
              </a>
            </div>
            <div class="top-bar__right">
              <p class="top-bar__city">Харків</p>

              <a href="#" class="icon icon--loop"></a>

              <a href="./templates/log-up.html" class="icon icon--log-in"></a>
            </div>
          </div>
        </div>
        
        <div class="header__bottom">
          <h1 class="header__title">
            #приймаю 
            <br>участь
            <br>в заході
          </h1>
        </div>
      </div>
    </div>
  </div>
</header>