<aside class="menu" id="menu">
  <div class="menu__top">
    <a href="#" class="menu__link">
      <img class="menu__img" src="../../../static/frontend/assets/images/logo-menu-2x.png" alt="logo in menu">
    </a>
    <a href="#" class="icon icon--cross"></a>
  </div>
  <nav class="nav">
    <ul class="nav_list">
      <li class="nav_el"><a class="nav_link" href="#top-ivents">Top-події</a></li>
      <li class="nav_el"><a class="nav_link" href="#this-week">На цьому тижні</a></li>
      <li class="nav_el"><a class="nav_link" href="#welfare">Благодійність</a></li>
      <li class="nav_el"><a class="nav_link" href="#science">Наука</a></li>
    </ul>
  </nav>
</aside>