<div class="top-bar">
  <div class="top-bar__left">
    <a href="#menu" class="icon icon--menu">
    </a>

    <a href="/" class="top-bar__link">
      <img class="top-bar__img top-bar__logo" src="../../../static/frontend/assets/images/logo-2x.png" alt="logo"/>
    </a>
  </div>
  <div class="top-bar__right">
    
    <div class="top-bar__selector">
      <div class="top-bar__lable"><a style="text-decoration: none; color: #fff; font-weight: 600;" href="/home" >КАБІНЕТ</a></div>
    </div>

    <a href="/sign-up" class="icon icon--log-in"></a>

  </div>
</div>