<div class="top-bar">
  <div class="top-bar__left">
    <a href="#menu" class="icon icon--menu">
    </a>

    <a href="#" class="top-bar__link">
      <img class="top-bar__img top-bar__logo" src="../../../static/frontend/assets/images/logo-2x.png" alt="logo"/>
    </a>
  </div>
  <div class="top-bar__right">
    <label for="citis" class="top-bar__city"></label>
    <select class="top-bar__select" id="citis" name="citis">
      {% for location in uniqueLocations %}
        <option class="top-bar__option" value="citis">{{ location }}</option>
      {% endfor %}
    </select>

    <a href="#" class="icon icon--loop"></a>

    <a href="/sign-up" class="icon icon--log-in"></a>
  </div>
</div>